@import "../../../sass/brands-colors.scss";
@import "../../../sass/parts/_typography.scss";

.container_global_responsive_nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 9999999999;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    background: rgba(255, 255, 255, 0.495);

    .box_logo {
      margin-bottom: 35px;
      height: 5px;
      width: 5px;

      img {
        height: 45px;
        width: 45px;
      }
    }
    img {
      height: 15px;
      width: 15px;
    }
  }
}
